<!doctype html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

    <div class="container-fluid"> 
        <% include partials/navigation.ejs %>


    <!-- Full Page Intro -->
    </header>

        
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>

        <hr>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">CreatedDate</th>
              <th scope="col">DueDate</th>
              <th scope="col">Star</th>
            </tr>
          </thead>
          <tbody>

            <% for (var i = 0; i < links.length; i++){ %>
              <tr>
                <th scope="row"><%= links[i].linkId %></th>
                <td><%= links[i].title %></td>
                <td><%= links[i].createdDate %></td>
                <td><%= links[i].dueDate %></td>
              </tr>             
            <% } %>

          </tbody>
        </table>
    </div>
  
  </body>
    <% include partials/script.ejs %>
</html>

