<!doctype html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

    <div class="container-fluid"> 
        <% include partials/navigation.ejs %>

    <!-- Full Page Intro -->
    <div class="cover-pic">

      <div class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Actively explore new interest and information around you</h1>
            <hr class="hr-light">
            <h6 class="mb-4">Store and organize useful information to make them easily accessible in the future</h6>
          </div>
        </div>
      </div>
    </div>

    <!-- Full Page Intro -->
    </header>
    <!-- Main navigation -->
    <!--Main Layout-->
    <main>
    <div class="container">
      <!--Grid row-->
      <div class="row py-5">
        <!--Grid column-->
        <div class="col-md-12 text-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    </main>
    <!--Main Layout-->


        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-primary">Primary</button>

        <hr>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Star</th>
              <th scope="col">Title</th>
              <th scope="col">Created</th>
              <th scope="col">Done By</th>
              <th scope="col">read</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>
  
  </body>
    <% include partials/script.ejs %>
</html>

